<!DOCTYPE html>
<html lang="en">
  <LINK REL="SHORTCUT ICON"
        HREF="http://www.cesm.ucar.edu/styles/modern/img/favicon.png">
  <head>
    <meta charset="utf-8">
    <title>CESM2 Series Public Release</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />

    <!-- css -->
    <!--#include virtual="/styles/modern/css/css-include.html" -->
    
    <!-- Theme skin -->
    <link href="/styles/modern/skins/default.css" rel="stylesheet" />
    <!--[if lte IE 9]>
    <link rel="stylesheet" type="text/css" href="/media/css/ie.css" />
    <![endif]-->
    
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css" />

    <style type="text/css">
        #description { background-color: #c5edcb; }
	#wrapit  { word-wrap: break-word;
                   white-space: normal; }
    </style>


    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>

    <script>
    $(document).ready( function () {
	var table = $('#compTable').DataTable( {
	    "responsive": true,
	    "lengthMenu": [ [10, 25, 50, -1], [10, 25, 50, "All"] ]	    
	} );

	// Handle click on "Expand All" button
	$('#btn-show-all-children').on('click', function(){
	    // Expand row details
            table.rows(':not(.parent)').nodes().to$().find('td:first-child').trigger('click');
	});
	
	// Handle click on "Collapse All" button
	$('#btn-hide-all-children').on('click', function(){
            // Collapse row details
            table.rows('.parent').nodes().to$().find('td:first-child').trigger('click');
	});
    } );
    </script>
    
  </head>
  <body>
    <div id="wrapper">
      <header>
	
        <div class="navbar navbar-default navbar-static-top">
          <div class="container">
            
            <!-- navbar header -->
            <!--#include virtual="/styles/modern/includes/header/navbar-header.html" -->
            <!-- end navbar header -->
            
            <!-- search -->
            <!--#include virtual="/styles/modern/includes/header/search.html" -->
            <!-- end search -->
            
            <!-- main navigation -->
            <!--#include virtual="/styles/modern/includes/navigation/models-nav.html" -->
            <!-- end main navigation -->
            
          </div>
        </div>
      </header>
      <!-- end header -->
      
      <section id="inner-headline">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <ul class="breadcrumb">
               <li><a href="/index.html"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                <li><a href="/models/">CESM Models</a><i class="icon-angle-right"></i></li>
                <li><a href="/models/cesm2.0">CESM2 Series Public Release</a><i class="icon-angle-right"></i></li>
                <li><a href="/models/cesm2.0/component_settings/index.html">CESM2 Component Configuration Settings</a><i class="icon-angle-right"></i></li>
                <li class="active">{{ comp }}{{ compversion }} CASEROOT Variable Definitions</li>
	      </ul>
	    </div>
	  </div>
	</div>
      </section>

      <section id="content">
	<div class="container">
	  <div class="row">
	    <div class="post-image">
	      <div class="post-heading">
		<h2>{{ comp }}{{ compversion }} CASEROOT Variable Definitions</h2>
	      </div>
	    </div>
              
            <!--  ---------------------------------------------------------------------  -->
            <h4 class="separator"> Component tag: {{ comptag }}</h4>
	    <h5>HTML created on: {{ today }}</h5>
	    
	    <p>Use CASEROOT tools <a href="http://esmci.github.io/cime/Tools_user/xmlquery.html">xmlquery</a>
	      to query these variables and <a href="http://esmci.github.io/cime/Tools_user/xmlchange.html">xmlchange</a>
	      to change their values. </p>
            <!--  ---------------------------------------------------------------------  -->

            <button id="btn-show-all-children" type="button">Expand All</button>
            <button id="btn-hide-all-children" type="button">Collapse All</button>
            <hr/>
            <table id="compTable" class="display wrap">
	      <thead>
		<tr>
		  <th>Parameter Name</th>
		  <th>Default Value</th>
		  <th>Data Type</th>
		  <th>Group</th>
		  <th>CASEROOT File</th>
		  <th class="none">Valid Values</th>
		  <th class="none">Description</th>
		</tr>
	      </thead>
	      <tbody>
		{% for var_dict in html_dict['items'] %}
		<tr>
		  <td>{{ var_dict['name'] }}</td>
		  <td>{{ var_dict['value'] }}</td>
		  <td>{{ var_dict['datatype'] }}</td>
		  <td>{{ var_dict['group'] }}</td>
		  <td>{{ var_dict['filename'] }}</td>
		  <td>{{ var_dict['valid_values'] }}</td>
		  <td><pre id="description">{{ var_dict['desc'] }}</pre></td>
		</tr>
		{% endfor %}
              </tbody>
              <tfoot>
		<tr>
		  <th>Parameter Name</th>
		  <th>Default Value</th>
		  <th>Data Type</th>
		  <th>Group</th>
		  <th>CASEROOT File</th>
		  <th class="none">Valid Values</th>
		  <th class="none">Description</th>
		</tr>
	      </tfoot>
	    </table>
	  </div>
	</div>
      </section>

      <footer>
	<div class="container">
          <!-- footer -->
          <!--#include virtual="/styles/modern/includes/footer/footer.html" -->
          <!-- end footer -->
	</div>
        <div id="sub-footer">
          <!-- navbar subfooter -->
          <!--#include virtual="/styles/modern/includes/footer/subfooter.html" -->
          <!-- end subfooter -->
        </div>
        <div class="col-lg-6">
          <!-- Social Media Include -->
          <!--#include virtual="/styles/modern/includes/footer/social-media-inc.html" -->
          <!-- end Social Media Include -->
        </div>
      </footer>

    </div>
    <a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
    <script>
      // Check if the nsf badge is there
      if ( !($(".nsf-header")[0]) ) {
	// create the nsf badge div
	var div = '<div class="nsf-header"> <a href="http://www.nsf.gov/"> <img src="/styles/modern/includes/header/ncar_header_nsf_only.png"title="Sponsored by NSF"alt="Sponsored by NSF"> </a> </div>';

	// insert it
	$('.search-container').after(div);
      }
    </script>
  </body>
</html>
